/*-------- General --------*/

.container {
    max-width: 990px !important;
}

/*-------- Animate iFrame --------*/

iframe {
    display: block;
    width: 960px;
    height: 590px;
    overflow: hidden;
    outline: 0;
    border: 0;
    float: right;
    margin: 0 -15px;
}

/*-------- Main Nav --------*/

a.navbar-brand {
    background-image: url(../images/logo.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 100px center;
    padding-right: 50px;
}

.navbar-default{margin:0;}

/*-------- Modal --------*/

#about .modal-body, .modal-title {
    text-align: center;
}

#about .modal-title {
 background-image: url(../images/logo.png);
    background-size: 30px;
    background-repeat: no-repeat;
       background-position: 320px center;
    padding: 16px 50px 16px 0;
}


#about .dialogWindowText {
    background-image: url(../images/HIT-Logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 65px;
    width: 220px;
    margin: 0 auto;
    padding: 5px 65px 5px 0;
    text-align: right;
}

#about .modal-header {
    padding-bottom: 7px;
}



.big-text{ font-size:18px;}

